---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props {
  className?: HTMLAttributes<"svg">["class"];
  radius?: number;
  size?: number;
  selected?: boolean | undefined;
}

const { size = 20, radius = "0.5rem", selected = false, className } = Astro.props;
---

<style>
  @media (min-width: 640px) {
    div.selected {
      @apply ring-1 ring-white/30 ring-inset;
    }
  }
  div.selected ~ span {
    @apply text-white text-[1rem];
  }
</style>

<Fragment>
  <div class={`sm:p-2 sm:rounded-full sm:bg-blue-200/15 ${selected ? "selected" : ""} `}>
    <svg
      viewBox="0 0 28 28"
      width={size}
      height={size}
      fill={"currentColor"}
      class={cn("text-pur-500", className)}
      style="filter: drop-shadow(0px 0px 10px white);">
      <circle cx="14" cy="14" r={radius}></circle>
    </svg>
  </div>
  <span class={`font-semibold text-white/50 text-sm`}>
    <slot />
    <!-- rgb(123 142 195) -->
  </span>
</Fragment>
