---
import type { StatType } from "./types";

interface Props {
  label: StatType["label"];
  value: StatType["value"];
}

const { label, value } = Astro.props;

const width = parseInt(value) * 10;
---

<style>
  .stat-ctn,
  .stat-bar {
    --primary: #131313;
    --secondary: #83838334;
    height: 0.3rem;
    background-color: var(--secondary);
    border-radius: 0.15rem;
  }

  .stat-ctn {
    width: 100%;
  }

  .stat-bar {
    background-color: var(--primary);
  }
</style>

<div class="horizontal center w-full">
  <span class="w-1/3 text-black/80 font-semibold">{label}</span>
  <div class="stat-ctn">
    <div class="stat-bar" style={`width : ${width}%`}></div>
  </div>
</div>
