---
import StarEmpty from "../icons/StarEmpty.astro";
import StarFilled from "../icons/StarFilled.astro";

interface Props {
  rating: string;
}

const { rating } = Astro.props;

const stars = Array.from({ length: 5 }, (_, i) => {
  return i < parseInt(rating) ? StarFilled : StarEmpty;
});
---

<div class="horizontal items-center justify-start">
  {
    stars.map((Star) => {
      return <Fragment>{<Star className={"h-4 w-4"} />}</Fragment>;
    })
  }
</div>
