---
import { cn } from "@/lib/utils";

interface Props {
  tag: string;
  className?: string;
  variant?: "default" | "outline";
}

const { tag, className, variant = "default" } = Astro.props;

const variants = {
  outline:
    "inline-flex items-center rounded-md border px-2.5 py-0.5 text-[0.85rem] font-semibold transition-colors focus:outline-none border-slate-200 bg-transparent hover:bg-slate-100 dark:hover:bg-white/20 dark:bg-slate-600 dark:ring-slate-600",
  default:
    "inline-flex items-center rounded-md border px-2.5 py-0.5 text-[0.85rem] font-semibold transition-colors focus:outline-none border-transparent bg-slate-200 hover:bg-slate-100 dark:hover:bg-white/20 dark:bg-slate-600 dark:ring-slate-600",
};
---

<div class={cn(variants[variant], className)}>
  <span> {tag} </span>
</div>
