---
interface Props {
  price: string | number;
  unit?: string;
}

const { price, unit } = Astro.props;
---

{
  typeof price === "number" ? (
    <p class="font-semibold whitespace-nowrap">
      Start at
      <span class="font-bold text-lg">
        <small> €</small>
        {price}
      </span>
      {unit && <> / {unit}</>}
    </p>
  ) : (
    <p class="font-semibold whitespace-nowrap">{price}</p>
  )
}
