---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
  position: "left" | "right";
  dark?: boolean;
}

const { className, position, dark = false } = Astro.props;

const positions = {
  left: "-left-32",
  right: "-right-32",
};

const theme = dark ? "dark" : "light";

const themed = {
  light: {
    text: "text-white ",
    separator: "bg-white",
  },
  dark: {
    text: "text-black",
    separator: "bg-black ",
  },
};
---

<div
  class={cn(
    "hidden lg:flex center absolute z-20 text-white font-medium text-xs uppercase -rotate-90 h-fit w-fit gap-5",
    positions[position],
    themed[theme].text,
    className
  )}>
  <hr class={cn("h-[1px] w-40", themed[theme].separator)} />
  <span class="whitespace-nowrap">
    <slot />
  </span>
</div>
