---
import type { ProductType } from "@/components/Products/types";
import { generateLorem } from "@/lib/utils";
import ContactDetail from "../Dialog/ContactDetail.astro";

interface Props {
  product: ProductType;
}

const { product } = Astro.props;
---

<div class="absolute top-0 w-fit pointer-events-none z-10">
  <h2 class="w-full text-left pl-5 py-5 bg-transparent text-lg text-slate-700">
    {product.name}
  </h2>
</div>
<div class="text-left">
  <h4 class="text-xl">Contactez-nous</h4>
  <div class={`horizontal items-center justify-between gap-5`}>
    <p class="leading-5 max-w-[50ch] text-balance">{generateLorem(50)}</p>
    <ContactDetail product={product} />
  </div>
</div>
