---
interface Props {
  description?: string;
  className?: string;
  title?: string;
}

const { title, description, className } = Astro.props;
---

{title && <h4 class="text-2xl font-bold text-balance">{title}</h4>}
{
  description && (
    <div class="overflow-auto leading-5">
      <p class={`text-balance ${className}`}>{description}</p>
    </div>
  )
}
