---
import { cn } from "@/lib/utils";

interface Props {
  h2: string;
  h3?: string;
  className?: string;
}

const { h2, h3, className } = Astro.props;
---

<div transition:name="heading" class={cn("vertical center gap-6 text-center z-50", className)}>
  <h2 class="text-3xl uppercase">{h2}</h2>
  {h3 && <h3 class="text-2xl">{h3}</h3>}
  <slot name="icon" />
</div>
