---
import Button from "@/components/Button.astro";
import Nav from "@/layouts/Nav.astro";
import { generateLorem } from "@/lib/utils";
import { Mountain } from "lucide-react";
import CTA from "../CTA.astro";
import ImageSwitch from "../ImageSwitch/ImageSwitch.astro";
import VerticalText from "../VerticalText.astro";
import Heading from "./Heading.astro";
---

<style>
  .fade-out-bottom {
    @apply absolute-align full z-10;
    background: linear-gradient(to bottom, #0b0e1600 0%, #0b0e1600 80%, #0b0e16 100%);
  }
</style>

<header class={"vertical items-end justify-center [&_a:hover]:underline [&>*]:px-10 h-32"} transition:animate={"none"}>
  <section class="full horizontal items-center justify-between">
    <h1 class="text-2xl">
      <a href="/"> A l'abordarbre</a>
    </h1>
    <Nav className="text-black/80 font-semibold space-x-16" />
    <span class="font-bold text-2xl">LOGO</span>
  </section>
</header>
<section class="relative text-white">
  <div class="fade-out-bottom"></div>
  <ImageSwitch
    uniqueKey="hero"
    alt="hero"
    className="w-screen h-screen max-w-screen object-cover z-[0] brightness-110 contrast-125"
  />
  <div class="text-white">
    <Heading h2="l'aventure commence ici!" h3="Découvrez la grimpe d'arbre" />
    <div
      class="absolute-align justify-end items-center vertical z-10 full gap-6 text-center pointer-events-none max-h-[95%]">
      <VerticalText position="left" className="bottom-48">Embarquez avec nous</VerticalText>

      <p class="text-white/80 line-clamp-3 max-w-[55ch] leading-4" style="z-index : inherit">
        {generateLorem(30)}
      </p>
      <Button
        className="pointer-events-auto hover:bg-white/20"
        variant="outline"
        size="lg"
        data-is="hero-button"
        textClass="-translate-x-2"
        leftIcon>
        <Mountain className="h-[18px] w-[18px] translate-y-[3px]" slot="icon" />
        <CTA href="/tarifs"><span>S'inscrire</span></CTA>
      </Button>
      <p style="z-index : inherit">Start at <span class="text-lg font-bold">100</span>&#8364; / night</p>
    </div>
  </div>
</section>
