---
import Section from "@/layouts/Section.astro";
import EarthArticle from "./EarthArticle.astro";
import Gradients from "./Gradients.astro";
import EarthFigure from "./EarthFigure.astro";
import EarthTestimony from "./EarthTestimony.astro";
---

<Section
  extension="none"
  className="relative vertical md:horizontal flex-wrap center pb-32 bg-earth-600 overflow-hidden"
  size="full"
>
  <Gradients />
  <EarthArticle />
  <EarthFigure />
  <EarthTestimony />
</Section>
