---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div role="group" class={cn(`horizontal items-center justify-start`, className)}>
  <slot />
</div>
