---
import { ArrowLeft, ArrowRight } from "lucide-react";
// import ButtonGroup from "./ButtonGroup.astro";
---

<script>
  const buttons = document.querySelectorAll("[data-is='button-group']");
  if (buttons.length === 0) {
    console.log("No buttons found");
  }

  const handler = () => console.log("clicked");

  buttons.forEach((btn) => {
    btn.addEventListener("click", handler);
  });
</script>

<style>
  button > * {
    @apply h-5 w-5 opacity-90;
  }
</style>

<button data-is="button-group">
  <ArrowLeft />
</button>
<button data-is="button-group">
  <ArrowRight />
</button>
