@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        scrollbar-color: #f0f3f2;
        scrollbar-width: thin;
    }

    main {
        overflow-y: hidden;
    }
    body {
        overflow-x: hidden;
        background-color: #fdfdfd;
    }

    mark {
        background-color: #eab308;
    }

    h1,
    h2 h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    p,
    li {
        font-size: 1rem;
    }

    span.label {
        font-weight: 600;
    }

    p.value {
        font-weight: 400;
    }
}

@layer components {
    .bg-pattern {
        position: relative; /* Make sure the parent is positioned */
        z-index: 1; /* Ensure content is above the background */
    }

    .bg-pattern::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("/patterns/pattern_1.webp");
        background-repeat: repeat;
        background-size: contain;
        background-position: center;
        opacity: 0.3; /* Adjust opacity here */
        z-index: -1; /* Place it behind the content */
    }

    .reveal-from-bottom-base {
        animation: reveal-from-bottom 0.8s ease-out forwards;
    }

    .reveal-from-bottom-delayed {
        animation: reveal-from-bottom 0.8s ease-out forwards;
        animation-delay: var(--reveal-delay);
    }

    @keyframes reveal-from-bottom {
        0% {
            filter: blur(2px);
            transform: translateY(100%);
            opacity: 0;
        }
        100% {
            filter: blur(0);
            transform: translateY(0);
            opacity: 1;
        }
    }
}
