@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        scrollbar-color: #f0f3f2;
        scrollbar-width: thin;
    }

    main {
        overflow-y: hidden;
    }
    body {
        overflow-x: hidden;
        background-color: #fdfdfd;
    }

    mark {
        background-color: #eab308;
    }

    h1,
    h2 h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    p,
    li {
        font-size: 1rem;
    }

    span.label {
        font-weight: 600;
    }

    p.value {
        font-weight: 400;
    }
}
