/* Range */
/* Range */
/* Range */
/* Range */
/* Range */
/* Range */

input[type="range"] {
  margin: auto;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 30px;
  width: 100%;
  cursor: pointer;
  border-radius: 0; /* iOS */

  &:disabled {
    cursor: not-allowed;
  }
}

::-webkit-slider-runnable-track {
  background: #ddd;
}

/*
* 1. Set to 0 width and remove border for a slider without a thumb
* 2. Shadow is negative the full width of the input and has a spread 
*    of the width of the input.
*/
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; /* 1 */
  height: 30px;
  background: #fff;
  box-shadow: -200px 0 0 200px #999;
  border: 2px solid #999; /* 1 */
}

::-moz-range-track {
  height: 30px;
  background: #ddd;
}

::-moz-range-thumb {
  background: #fff;
  height: 30px;
  width: 20px; /* 1 */
  border: 3px solid #999; /* 1 */
  border-radius: 0 !important;
  box-shadow: -200px 0 0 200px #999;
  box-sizing: border-box;
}

::-ms-fill-lower {
  background: #999;
}

::-ms-thumb {
  background: #fff;
  border: 2px solid #999; /* 1 */
  height: 30px;
  width: 20px; /* 1 */
  box-sizing: border-box;
}

::-ms-ticks-after {
  display: none;
}

::-ms-ticks-before {
  display: none;
}

::-ms-track {
  background: #ddd;
  color: transparent;
  height: 30px;
  border: none;
}

::-ms-tooltip {
  display: none;
}

/* Checkbox */
/* Checkbox */
/* Checkbox */
/* Checkbox */

.checkbox-label {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #fff;
}

.checkbox-label div {
  width: 60px;
  height: 60px;
  background-color: #fff;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkbox-label input:is([type="checkbox"]:checked, [type="radio"]:checked) + div {
  left: -10px;
  top: -10px;
}

.checkbox-label input:is([type="checkbox"], [type="radio"]) {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 200ms ease;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
}

.text-blue-600 {
  color: rgb(37 99 235);
}

.text-green-600 {
  color: rgb(22 163 74);
}

.text-red-600 {
  color: rgb(220 38 38);
}

*:has(> .log) {
  overflow: hidden;
}

.log {
  animation: slide-in-out 5s ease-out forwards;
}

@keyframes slide-in-out {
  0% {
    transform: translateY(-100%);
  }
  3% {
    transform: translateY(0);
  }
  97% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
