---
import BirdIcon from "@/components/Icons/Bird.astro";
import Article from "@/components/shared/Article.astro";
import Button from "@/components/shared/Button.astro";
import CTA from "@/components/shared/CTA.astro";
---

<div class="w-fit h-fit vertical px-12 gap-10">
  <div class="vertical items-start gap-6 z-10">
    <Article words1={35} words2={30} className="max-w-[50ch]" pClass={"max-w-[50ch] text-white/60"}>
      <BirdIcon />
    </Article>
    <CTA href="/contact">
      <Button ring="sm" className="hover:bg-white/20" size="lg">Contact</Button>
    </CTA>
  </div>
</div>
