---
import BirdIcon from "@/components/Icons/Bird.astro";
import Article from "@/components/shared/Article.astro";
import Button from "@/components/shared/Button.astro";
import CTA from "@/components/shared/CTA.astro";
---

<div class="w-fit h-fit vertical px-12 gap-10">
  <div class="vertical items-start gap-6 z-10">
    <Article
      words1={"Grimper dans les arbres pour partager un moment hors du temps au sein de la forêt et la canopée , rencontrer ses êtres végétaux qui nous côtoient dans  notre quotidien. Les arbres nous accueillent toutes et tous pour nous faire vivre une expérience unique, se reconnecter au vivant, et retrouver les plaisirs simple de la vie. "}
      words2={"Un moment de grâce et de simplicité, où l'on se sent petit face à la majesté de la nature. Une parenthèse enchantée pour se ressourcer et se reconnecter à l'essentiel."}
      className="max-w-[50ch]"
      pClass={"max-w-[50ch] text-white/60"}>
      <BirdIcon />
    </Article>
    <CTA href="/contact">
      <Button ring="sm" className="hover:bg-white/20" size="lg">Contact</Button>
    </CTA>
  </div>
</div>
