---
import Section from "@/layouts/Section.astro";
import ForestMask from "../Forest/ForestMask.astro";
import EarthArticle from "./EarthArticle.astro";
import EarthFigure from "./EarthFigure.astro";
import EarthTestimony from "./EarthTestimony.astro";
import Gradients from "./Gradients.astro";
---

<ForestMask />
<Section
  extension="none"
  className="relative vertical md:horizontal flex-wrap center pb-32 bg-earth-600 overflow-hidden gap-20"
  size="full">
  <Gradients />
  <div class="w-full horizontal center">
    <EarthArticle />
    <EarthFigure />
  </div>
  <EarthTestimony />
</Section>
