---
import type { ProductType } from "@/components/shared/product-data/types";
import type { StepType } from "../types";

interface Props {
  product: ProductType;
  size?: string;
  steps?: StepType[];
  className?: string;
}

const { product, className } = Astro.props;
---

<style>
  p {
    @apply text-left text-sm leading-4 text-slate-200/90;
  }
</style>

<section class={`space-y-5 w-fit h-fit bg-slate-700 py-3 px-5 rounded-lg left-2 text-white ${className}`}>
  <!-- <article class="fixed space-y-5 w-fit h-fit bg-slate-700 py-3 px-5 rounded-lg"> -->
  <div>
    <h4 class="grandstander">Email</h4>
    <p>contact@{product.name}.com</p>
  </div>
  <div>
    <h4 class="grandstander">Téléphone</h4>
    <p>01 23 45 67 89</p>
  </div>
  <div>
    <h4 class="grandstander">Lieu</h4>
    <p>4 rue Jean Jaurès 31000 Toulouse</p>
  </div>
  <!-- </article> -->
</section>
