---
import Button from "@/components/Button.astro";
import Message from "@/components/Tarif/Form/Message.astro";
import HeaderFooter from "@/layouts/HeaderFooter.astro";
import Layout from "@/layouts/Layout.astro";
import Section from "@/layouts/Section.astro";
import Socials from "@/layouts/Socials.astro";
import { ArrowDown, Send } from "lucide-react";

const key = "contact";
---

<Layout title="contact">
  <HeaderFooter slot="header" />
  <Section size="quarter" className="vertical center">
    <div class="text-center vertical center">
      <h2 class="text-3xl uppercase mb-5">Contactez-nous</h2>
      <p class="max-w-[50ch] mb-5 text-[1rem]">
        Vous avez une question, une demande de devis ou vous souhaitez simplement nous dire bonjour ? N'hésitez pas à
        nous contacter via le formulaire ci-dessous.
      </p>
      <ArrowDown size="32" />
    </div>
  </Section>
  <Section data-action={`section-message#${key}`} size="full" extension="sm" fixedHeight>
    <div class={"horizontal items-center full justify-around"}>
      <form class="py-10 px-14 rounded-lg shadow-sm shadow-black/30 space-y-5">
        <div class="max-w-lg vertical center">
          <Message key={key} telClass="bg-stone-100" textareaClass="bg-stone-100" emailClass="bg-stone-100" />
        </div>
        <div class="w-full horizontal-reverse">
          <Button
            dark
            data-for={"message"}
            data-action={`next#${key}`}
            type="submit"
            size="md"
            variant="outline"
            rightIcon
            className="ring-stone-800 text-stone-800"
            ring="sm">
            Valider
            <Send className="stroke-1 h-5 w-5 translate-y-[3px]" slot="icon" />
          </Button>
        </div>
      </form>
      <div class="py-10 px-14 rounded-lg shadow-sm shadow-black/30 space-y-8 [&>article>h3]:mb-2">
        <article>
          <h3>Notre adresse</h3>
          <p>12 rue de la Paix</p>
          <p>Toulouse</p>
          <p>31100</p>
        </article>
        <article>
          <h3>Nos réseaux</h3>
          <Socials />
        </article>
        <article>
          <h3>Nos contact</h3>
          <p>
            <span>Email : </span>
            <span class="font-semibold">alabordarbre@contact.com</span>
          </p>
          <p>
            <span>Téléphone : </span>
            <span class="font-semibold">06 12 34 56 78</span>
          </p>
        </article>
      </div>
    </div>
  </Section>
  <HeaderFooter slot="footer" as="footer" />
</Layout>
