---
import Section from "@/layouts/Section.astro";
---

<Section fixedHeight>
  <div class="absolute-center">
    <h1 class="text-4xl font-bold text-center">Thanks for submitting</h1>
  </div>
</Section>
