---
import Earth from "@/components/Earth/Earth.astro";
import FooterSection from "@/components/FooterSection.astro/FooterSection.astro";
import ForestMask from "@/components/Forest/ForestMask.astro";
import Hero from "@/components/Hero/Hero.astro";
import Location from "@/components/Location/Location.astro";
import Products from "@/components/Products/Products.astro";
import HeaderFooter from "@/layouts/HeaderFooter.astro";
import Section from "@/layouts/Section.astro";
import { Wrench } from "lucide-react";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Accueil | ALAD">
  <Hero slot="header" />
  <Location />
  <ForestMask />
  <Earth />
  <Section className={"horizontal center"}>
    <div
      class="horizontal center gap-6 text-pur-500 font-bold ring-2 ring-pur-500 py-5 pe-6 ps-5 rounded-lg shadow-md shadow-black/50"
    >
      <Wrench size={32} />
      <p class="text-2xl">Section en construction</p>
    </div>
  </Section>
  <Products />
  <FooterSection />
  <HeaderFooter slot="footer" />
</Layout>
