---
import Hero from "@/assets/hero/hero.png";
import { generateLorem } from "@/lib/utils";
import "@/styles/globals.css";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
---

<script></script>

<Layout title="Welcome to Astro.">
  <section class="relative h-screen max-w-full w-full text-white">
    <Image src={Hero} class="absolute full max-w-screen object-cover -z-50 brightness-75 contrast-125" alt="hero" />
    <header class="absolute-align z-10 w-full px-52 py-2 h-1/4">
      <nav class="full [&>ul]:full">
        <ul class="horizontal center gap-12 font-bold [&>li>a:hover]:underline text-lg">
          <li>
            <a href="/">
              <h1 class="text-2xl">A l'abordarbre</h1>
            </a>
          </li>
          <div class="grow"></div>
          <li>
            <a href="/contact">Tarifs</a>
          </li>
          <li>
            <a href="/nous">Nous</a>
          </li>
          <li class="text-pur-600">
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="absolute-center vertical z-10 full gap-6 text-center pointer-events-none">
      <h2 class="text-3xl uppercase">l'aventure commence ici!</h2>
      <h3 class="text-2xl">Découvrez la grimpe d'arbre</h3>
    </div>
    <div
      class="absolute-align justify-end items-center vertical z-10 full max-h-[95%] gap-6 text-center pointer-events-none"
    >
      <p class="text-balance text-stone-300 line-clamp-3 max-w-[55ch] leading-4">{generateLorem(20)}</p>
      <button class="card h-16 w-36 rounded-ful">
        <span class="text-black z-50">S'inscrire</span>
        <div data-style="dark-bg"></div>
        <div data-style="light-border"></div>
      </button>
    </div>
  </section>
</Layout>
