---
import Footer from "@/layouts/Footer.astro";
import Section from "@/layouts/Section.astro";
import { generateLorem } from "@/lib/utils";
import { ArrowDown } from "lucide-react";
import Layout from "../layouts/Layout.astro";
---

<Layout title="tarif">
  <Footer slot="header" />
  <Section>
    <div class="absolute-center vertical z-10 full gap-6 text-center pointer-events-none text-black">
      <h2 class="text-3xl uppercase">Nos tarifs</h2>
      <h3 class="text-2xl">Composable et personalisable</h3>
      <a href="#tarifs" class="pointer-events-auto">
        <ArrowDown size="32" />
      </a>
    </div>
  </Section>
  <Section id={"tarifs"}> <p>{generateLorem(20)}</p></Section>
</Layout>
