---
import Heading from "@/components/Hero/Heading.astro";
import rawProducts from "@/components/Products/product.json" assert { type: "json" };
import type { ProductType } from "@/components/Products/types";
import HeaderFooter from "@/layouts/HeaderFooter.astro";
import Section from "@/layouts/Section.astro";
import { ArrowDown } from "lucide-react";
import Layout from "../layouts/Layout.astro";

const products = rawProducts.products as ProductType[];
---

<Layout title="tarif">
  <HeaderFooter slot="header" />
  <Section>
    <Heading h2="Nos tarifs" h3="Composable et personalisable" className="text-black">
      <a href="#1" class="pointer-events-auto">
        <ArrowDown size="32" />
      </a>
    </Heading>
  </Section>
  <Section id={"1"} className={"horizontal center"} fixedHeight>
    <div class="m-10 ring-1 ring-red-400 full">
      {
        products.map((product) => {
          return (
            <div class="m-10 ring-1 ring-red-400">
              <h2>{product.name}</h2>
              <p>{product.description.long}</p>
              <p>{product.price}</p>
            </div>
          );
        })
      }
    </div>
    <!-- CARDS -->
    <!-- CARDS -->
    <!-- CARDS -->
    <!-- CARDS -->
  </Section>
</Layout>
