---
import { Minus, Plus } from "lucide-react";
import type { ProductType } from "../Products/types";

interface Props {
  product: ProductType;
}

const { product } = Astro.props;
---

<section class="horizontal center w-fit h-10 py-2 px-4" data-id={product.id}>
  <button type="button" class="w-full [&>*]:mx-auto" data-action={`remove#${product.id}`}>
    <Minus size="18" />
  </button>
  <span class="tabular-nums w-16 text-center font-semibold">1</span>
  <button type="button" class="w-full [&>*]:mx-auto" data-action={`add#${product.id}`}>
    <Plus size="18" />
  </button>
</section>
