---
import { InfoIcon } from "lucide-react";

interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="horizontal center text-black/80 text-[0.98rem]">
  <InfoIcon className="inline-block w-5 h-5 mr-1.5 stroke-1" />
  <small class="block w-full text-left leading-4 translate-y-[1px]">{text}</small>
</div>
