---
import type { OptionType } from "./types";
import Checkbox from "../ui/checkbox.astro";

const options: OptionType[] = [
  {
    label: "Je peux amener mon matériel",
    value: "hasMaterial",
  },
  {
    label: "je suis un professionnel",
    value: "isPro",
  },
  {
    label: "je suis un particulier",
    value: "isParticular",
  },
  {
    label: "je suis une entreprise",
    value: "isCompany",
  },
  {
    label: "j'ai un handicap",
    value: "hasDisability",
    description: "Nous nous adaptons à votre handicap",
  },
  {
    label: "je suis une association",
    value: "isAssociation",
    description: "Les associations bénéficient d'un tarif réduit de 25%",
  },
  {
    label: "je suis un accompagnant",
    value: "isAccompanist",
    description: "Les accompagnants ne payent pas",
  },
];
---

<section class={"h-full vertical justify-between select-none"}>
  {
    options.map((option) => {
      return <Checkbox option={option} />;
    })
  }
</section>
