---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props {
  orientation: "ltr" | "rtl";
  rest?: HTMLAttributes<"div">;
}

const { orientation } = Astro.props;

const orientationClasses = {
  ltr: "horizontal",
  rtl: "horizontal-reverse",
};
---

<div {...Astro.props.rest} class={cn(`full px-5 gap-10 items-center justify-evenly`, orientationClasses[orientation])}>
  <slot />
</div>
