---
import { cn } from "@/lib/utils";

interface Props {
  orientation?: "ltr" | "rtl";
  anchorId?: string | number;
}

const { orientation = "ltr", anchorId } = Astro.props;

const orientationClasses = {
  ltr: "horizontal",
  rtl: "horizontal-reverse",
};
---

<div {...Astro.props} class={cn(`relative full px-5 gap-10 items-end justify-evenly`, orientationClasses[orientation])}>
  <div id={`${anchorId}`} aria-hidden="true" class="absolute -top-[50%]"></div>
  <slot />
</div>
