---
import { cn } from "@/lib/utils";

interface Props {
  orientation: "ltr" | "rtl";
}

const { orientation } = Astro.props;

const orientationClasses = {
  ltr: "horizontal",
  rtl: "horizontal-reverse",
};
---

<div class={cn(`full px-5 gap-10 center`, orientationClasses[orientation])}>
  <slot />
</div>
