---
import { cn } from "@/lib/utils";
import RandomImage from "../RandomImage.astro";

interface Props {
  size: number;
  orientation?: "ltr" | "rtl";
}

const orientationClasses = {
  ltr: "right-5 justify-start",
  rtl: "left-5 justify-end",
};

const { size = 400, orientation = "rtl" } = Astro.props;
---

<RandomImage seed={size} className="w-full aspect-square ring-offset-2 ring-1 ring-stone-200 sticky" />
<div
  class={cn(
    `sticky bottom-5 horizontal w-full gap-5 items-center [&>*]:ring-1 [&>*]:ring-white [&>*]:aspect-square`,
    orientationClasses[orientation]
  )}>
  <RandomImage size={110} className="hover:brightness-105 transition-all hover:scale-105" />
  <RandomImage size={110} className="hover:brightness-105 transition-all hover:scale-105" />
  <RandomImage size={110} className="hover:brightness-105 transition-all hover:scale-105" />
</div>
