---
interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

{title && <h2>{title}</h2>}
{
  description && (
    <div class="overflow-auto leading-5">
      <p class="text-balance">{description}</p>
    </div>
  )
}
