---
import { X } from "lucide-react";

interface Props {
  key: string | number;
}

const { key } = Astro.props;
---

<div class="absolute-center full pointer-events-none">
  <button
    type="button"
    data-action={`close#${key}`}
    class="absolute h-16 w-16 bg-slate-700 hover:bg-slate-600 rounded-full pointer-events-auto -right-7 -top-7 text-white focus:text-slate-500 focus-visible:text-slate-500">
    <X className="absolute ml-2" />
  </button>
</div>
