---
import { X } from "lucide-react";

interface Props {
  key: string | number;
}

const { key } = Astro.props;
---

<div class="absolute-center full pointer-events-none">
  <button
    type="button"
    data-action={`close#${key}`}
    class="pointer-events-auto absolute right-0 top-0 text-slate-700 hover:text-slate-500 focus:text-slate-500 focus-visible:text-slate-500">
    <X />
  </button>
</div>
