---
import type { OptionType } from "@/components/Tarif/types";
import Checkbox from "@/components/ui/checkbox.astro";
import rawOptions from "@/components/Tarif/Dialog/option.json" assert { type: "json" };

const options: OptionType[] = rawOptions.options;
---

<section class={"h-full vertical justify-between select-none"}>
  {
    options.map((option) => {
      return <Checkbox option={option} />;
    })
  }
</section>
