---
import StarFilled from "@/components/icons/StarFilled.astro";

interface Props {
  key: string | number;
}

const { key } = Astro.props;

const steps = [
  {
    title: "Etape 1",
    description: "Choisissez quand et pour combien de personne",
  },
  {
    title: "Etape 2",
    description: "Selectionnez vos options",
  },
  {
    title: "Etape 3",
    description: "Contactez-nous",
  },
];
---

<style>
  .step {
    @apply rounded-full p-2 ring-2 ring-white bg-slate-700 min-h-12 h-12 min-w-12 w-12 text-3xl text-center;
  }
  article {
    @apply relative grow w-full horizontal items-center justify-between gap-4;

    p {
      @apply text-sm text-balance text-slate-200/90;
    }
  }
</style>

<!-- <script>
  const translation = {
    gap: 40,
    step: 56,
  };

  const currentStep = 1;

  //40px + 56px
</script> -->

<section class="horizontal w-full">
  <div class="vertical items-center w-fit text-left text-white gap-10 relative">
    {
      steps.map(({ title, description }, i) => (
        <article>
          <div class="horizontal items-center justify-start gap-4 h-14">
            <div class="step">{i + 1}</div>
            <div class="vertical justify-center items-start leading-4">
              <h2>{title}</h2>
              <p>{description}</p>
            </div>
          </div>
        </article>
      ))
    }
  </div>
  <div class="w-14 h-full [&>*]:w-full [&>*]:grid [&>*]:place-items-center">
    <picture
      data-picture={key}
      data-step="1"
      class="h-14 transition-transform"
      style="--translation : 96px ; --step : 0 ; transform : translateY(calc(var(--translation) * var(--step)))">
      <StarFilled className={"text-pur-500"} />
    </picture>
  </div>
</section>
