---
import VerticalText from "@/components/shared/VerticalText.astro";
import Button from "@/components/shared/Button.astro";
import CTA from "@/components/shared/CTA.astro";
import Section from "@/layouts/Section.astro";
import { Mountain } from "lucide-react";
import Header from "../Nav/Header.astro";
import Video from "../HeroVideo.astro";
---

<style>
    .fade-out-bottom {
        background: linear-gradient(to bottom, #0b0e1600 0%, #0b0e1600 80%, #0b0e16 100%);
    }
</style>

<script>
    import { setupIntersectionObserver } from "@/lib/utils";

    const topElement = document.querySelector("[data-observer='1']") as HTMLElement;
    const bottomElement = document.querySelector("[data-observer='2']") as HTMLElement;

    if (!topElement || !bottomElement) {
        throw new Error("Missing observer elements");
    }

    setupIntersectionObserver(topElement, {
        onIntersect: () => {
            topElement.classList.add("reveal-from-bottom-base");
        },
    });

    setupIntersectionObserver(bottomElement, {
        onIntersect: () => {
            bottomElement.classList.add("reveal-from-bottom-delayed");
        },
    });
</script>

<Header />
<Section className="relative text-white vertical center">
    <div class="absolute-align full z-30 fade-out-bottom pointer-events-none"></div>
    <Video />
    <div class="z-50 vertical items-center h-screen justify-center text-center pointer-events-none">
        <VerticalText position="right" className="bottom-48">Embarquez avec nous</VerticalText>
        <div class={"vertical center gap-6 text-center z-50"}>
            <h2
                class="text-5xl uppercase translate-y-[100%] opacity-0"
                data-observer="1"
                style={"text-shadow: 0px 0px 3px black;"}>
                l'aventure commence ici!
            </h2>
            <div
                class={`horizontal center gap-5 flex-wrap translate-y-[100%] opacity-0`}
                data-observer="2"
                style="--reveal-delay : 0.5s;">
                <h3 class="text-2xl" style={"text-shadow: 0px 0px 3px black;"}>Découvrez la grimpe d'arbre</h3>
                <div class={`horizontal center gap-10`}>
                    <CTA href="/contact">
                        <Button
                            className="pointer-events-auto hover:bg-white"
                            variant="filled"
                            ring="sm"
                            size="lg"
                            data-is="hero-button"
                            textClass="-translate-x-2"
                            leftIcon>
                            <Mountain className="h-[18px] w-[18px] translate-y-[3px]" slot="icon" />
                            Nous contacter
                        </Button>
                    </CTA>
                </div>
            </div>
        </div>
    </div>
</Section>
