---
import { cn, generateLorem } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props {
  title?: string;
  words1?: number | string;
  words2?: number | string;
  className?: string;
  pClass?: HTMLAttributes<"p">["class"];
  dark?: boolean;
}

const { dark, words1, words2, className, pClass, title = generateLorem(5) } = Astro.props;
const theme = dark ? { title: "text-black", text: "text-black/60" } : { title: "text-white", text: "text-white/60" };
---

<div class={cn("vertical gap-4 leading-5", theme.text, className)}>
  <slot />
  <h2 class={cn("text-xl mt-6 ", theme.title)}>{title}</h2>
  <slot name="subtitle" />
</div>
{words1 && <p class={pClass || ""}>{typeof words1 === "number" ? generateLorem(words1) : words1}</p>}
{words2 && <p class={pClass || ""}>{typeof words2 === "number" ? generateLorem(words2) : words2}</p>}
