---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
interface Props {
  variant?: "outline";
  size?: "sm" | "md" | "lg";
  className?: string;
  dark?: boolean;
  rest?: Omit<HTMLAttributes<"button">, "class">;
}

const { className, variant, dark, size, ...rest } = Astro.props;

const variants = {
  outline: {
    dark: "text-black rounded-full ring-2 ring-black hover:bg-slate-100",
    light: "text-white/95 rounded-full ring-2 ring-white/95 hover:bg-white/20",
  },
  sizes: {
    sm: "px-3 py-1",
    md: "px-5 py-2",
    lg: "px-9 py-2",
    xl: "px-12 py-3",
  },
};

// "text-white/95 rounded-full ring-2 ring-white/95 px-9 py-2 hover:bg-white/20"
---

<script>
  const buttons = Array.from(document.querySelectorAll("[data-action=button]"));
  if (!buttons) throw new Error("Button not found");
  const handleClick = () => {
    console.log("Button clicked");
  };
  buttons.map((btn) => btn.addEventListener("click", handleClick));
</script>

<button
  class={cn(
    "pointer-events-auto cursor-pointer",
    variants[variant || "outline"][dark ? "dark" : "light"],
    variants.sizes[size || "md"],
    className
  )}
  data-action="button"
  {...rest}
>
  <slot />
</button>
