---
interface Props {
  href: string;
  className?: string;
  prefetch?: boolean;
  prefetchType?: "load" | "tap" | "viewport" | "hover";
}

const { href, className, prefetch = true, prefetchType = "hover" } = Astro.props;
---

{
  prefetch && (
    <a href={href} class={className || ""} data-astro-prefetch={prefetchType}>
      <slot />
    </a>
  )
}
{
  !prefetch && (
    <a href={href} class={className || ""}>
      <slot />
    </a>
  )
}
