---
interface Props {
  styles: Record<string, string>;
}

const { styles } = Astro.props;
---

<style define:vars={styles}></style>

<!-- FADEBANDS --><!-- FADEBANDS --><!-- FADEBANDS --><!-- FADEBANDS -->
<div class="absolute top-0 left-0 h-28 w-full" style="background : var(--fadeToT)"></div>
<div class="absolute top-0 right-0 h-full w-28" style="background: var(--fadeToR);"></div>
<div class="absolute bottom-0 left-0 h-28 w-full" style="background: var(--fadeToB);"></div>
<div class="absolute top-0 left-0 w-28 h-full" style="background: var(--fadeToL);"></div>
