<!-- HEADING --><!-- HEADING --><!-- HEADING --><!-- HEADING -->
<div>
  <h3 class="text-xl font-medium leading-3"><slot name="title" /></h3>
  <small class="text-sm text-slate-300"><slot name="subtitle" /></small>
</div>
