---
import Moon from "@/components/icons/Moon.astro";
import Sun from "@/components/icons/Sun.astro";
---

<script>
  import { getFromLS, setToLS } from "@/lib/utils";

  document.addEventListener("astro:page-load", () => {
    const htmlTag = document.documentElement;
    const button = document.querySelector("button[data-mode]") as HTMLButtonElement;
    const figure = button.firstElementChild as HTMLElement;
    if (!htmlTag || !button) {
      console.warn(`html: ${htmlTag}, button: ${button}`);
    }

    const value = getFromLS("theme");

    if (value) htmlTag.classList.toggle(value);

    button.addEventListener("click", () => {
      const currentTheme = htmlTag.classList.contains("dark") ? "dark" : "light";
      const newTheme = currentTheme === "dark" ? "light" : "dark";

      figure.classList.remove(currentTheme);
      figure.classList.add(newTheme);

      htmlTag.classList.add(newTheme);
      htmlTag.classList.remove(currentTheme);

      setToLS("theme", newTheme);
    });
  });
</script>

<style>
  .light {
    animation: snapLight 0.3s forwards;
  }

  .dark {
    animation: snapDark 0.3s forwards;
  }

  @keyframes snapLight {
    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(-50%);
    }
  }

  @keyframes snapDark {
    0% {
      transform: translateY(-50%);
    }

    100% {
      transform: translateY(0%);
    }
  }
</style>

<button data-mode class="overflow-hidden max-h-[24px] max-w-[24px] h-[24px] w-[24px]">
  <figure class="transition-all text-black dark:text-darkMode-300">
    <Moon className={"text-white"} />
    <Sun />
  </figure>
</button>
