---
import Section from "@/layouts/Section.astro";
import { generateLorem } from "@/lib/utils";
import { BirdIcon } from "lucide-react";
import Product from "./Products/Product.astro";
import data from "./Products/product.json" assert { type: "json" };
import type { ProductType } from "./Products/types";
import RandomImage from "./RandomImage.astro";

const rawProducts = data.products;

const products: ProductType[] = rawProducts.map((product) => {
  return {
    ...product,
    title: generateLorem(5),
    description: generateLorem(40),
  };
});

const imgSize = {
  width: 400,
  height: 500,
};
---

<Section
  extension="md"
  className="relative vertical center py-52 px-52 gap-28 [&>article]:w-full [&>article]:justify-center [&>article]:items-center [&>article]:gap-28"
>
  <style>
    .before-footer-fade {
      --color-start: #ffffff;
      background: linear-gradient(to bottom, var(--color-start) 0%, var(--color-start) 85%, #94c2e7 100%);
    }
  </style>
  <!-- OVERLAY -->
  <!-- <div class="absolute-align full before-footer-fade -z-10"></div> -->
  <!-- OVERLAY -->
  <div class="vertical gap-10 w-full">
    <BirdIcon className="h-10 w-10" />
    <h2 class="text-xl text-left">Ce que l'on vous conseille</h2>
  </div>
  {
    products.map((product: ProductType, i: number) => {
      return (
        <article class={`${i % 2 !== 0 ? "horizontal-reverse" : "horizontal"}`} data-is={`product-${i}`}>
          <RandomImage width={imgSize.width} height={imgSize.height} />
          <Product {...product} />
        </article>
      );
    })
  }
</Section>
