---
import VerticalText from "@/components/Home/VerticalText.astro";
import Section from "@/layouts/Section.astro";
import { Wrench } from "lucide-react";
---

<Section className={"horizontal center bg-pur-500 text-black"} data-color>
  <VerticalText position="right" className="" dark><p>En construction</p></VerticalText>
  <div class="vertical center gap-10">
    <div
      class="horizontal center gap-5 text-black font-medium ring-1 ring-black py-5 pe-6 ps-5 rounded-lg shadow-md shadow-black/50">
      <Wrench size={32} strokeWidth={1} />
      <p class="text-2xl h-fit">Section en construction</p>
    </div>
  </div>
</Section>
