---
import VerticalText from "@/components/shared/VerticalText.astro";
import Section from "@/layouts/Section.astro";
import { Wrench } from "lucide-react";

// const quoteLou = "Dis-moi et j'oublierai, montre-moi et je me souviendrai, implique-moi et je comprendrai.";
// const articleText = "Grimper aux arbres, c'est apprivoiser deux rencontres : l'une avec moi-même, la découverte de mes limites et de mes capacités ; l'autre avec le monde, face à l'immensité de l'arbre qui m'accueille, avec ses osbtacles et ses appuis. Mes sens sont alors en éveil : j'écoute les oiseaux, j'admire l'horizon, je sens l'odeur de pin, je m'accroche à l'écorce et je ressens dans tout mon corps un mélange d'excitation, de bien-être et d'épanouissement. L'entendre ou le voir ne suffit pas, il faut le vivre pour comprendre. Alors fais nous confiance, et viens avec nous prendre de la hauteur et te hisser en haut des cimes pour ressentir le monde autrement."
// const textRing = "Estime de soi et valorisation   ⚪   Ancrage et liens   ⚪   Accompagnement et bienveillance   ⚪   Apprentissage et amusement   ⚪   Sécurité et sérenité "
---

<Section className={"horizontal center bg-pur-500 text-black"} data-color>
  <VerticalText position="right" className="" dark><p>En construction</p></VerticalText>
  <div class="vertical center gap-10">
    <div
      class="horizontal center gap-5 text-black font-medium ring-1 ring-black py-5 pe-6 ps-5 rounded-lg shadow-md shadow-black/50">
      <Wrench size={32} strokeWidth={1} />
      <p class="text-2xl h-fit">Section en construction</p>
    </div>
  </div>
</Section>
