---
import Section from "@/layouts/Section.astro";
import { Wrench } from "lucide-react";
import VerticalText from "./VerticalText.astro";
---

<Section className={"horizontal center"}>
  <VerticalText position="right" className="" dark><p>En construction</p></VerticalText>
  <div
    class="horizontal center gap-5 text-black font-medium ring-1 ring-black py-5 pe-6 ps-5 rounded-lg shadow-md shadow-black/50"
  >
    <Wrench size={32} strokeWidth={1} />
    <p class="text-2xl h-fit">Section en construction</p>
  </div>
</Section>
