---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class={cn(
    "horizontal center absolute left-0 bottom-96 z-10 text-white font-medium text-xs uppercase -rotate-90 h-fit w-fit gap-5",
    className
  )}
>
  <hr class="h-[1px] w-40" />
  <span class="whitespace-nowrap">
    <slot />
  </span>
</div>
