---
import Badge from "@/components/shared/Badge.astro";
import { capitalize } from "@/lib/utils";

interface Props {
  objectifs: string[];
  subtitle: string;
}

const { objectifs, subtitle } = Astro.props;
---

<section class="vertical justify-between rounded-md">
  <h4 class={`whitespace-nowrap text-xl grandstander my-1`}>
    {capitalize(subtitle)}
  </h4>
  <ul class={`space-y-1`}>
    {
      objectifs.map((o) => {
        return (
          <li class={`text-black/85`}>
            <Badge tag={capitalize(o)} className="hover:bg-white text-black/60" />
            {/* {capitalize(o)} */}
          </li>
        );
      })
    }
  </ul>
</section>
