---
import VerticalText from "@/components/shared/VerticalText.astro";
import { capitalize } from "@/lib/utils";

interface Props {
  title: string;
  verticalText: string;
}

const { title, verticalText } = Astro.props;
---

<VerticalText className="-bottom-44" position="right" dark>{verticalText}</VerticalText>

<div class="w-full">
  <h2 class="text-4xl text-center">Pôle {capitalize(title)}</h2>
</div>
