---

---

<section
  class="horizontal [&>article]:grow [&>article]:gap-5 [&>article]:mb-20 [&>article]:text-balance [&_h2]:w-fit [&_h2]:max-w-[30ch] [&>article]:horizontal [&>article]:center items-center w-full text-left">
  <article>
    <div class="rounded-full p-2 ring-1 ring-black h-12 w-12 text-3xl mb-2 text-center">1</div>
    <h2>Choisissez quand et pour combien de personne</h2>
  </article>
  <article>
    <div class="rounded-full p-2 ring-1 ring-black h-12 w-12 text-3xl mb-2 text-center">2</div>
    <h2>Selectionnez vos options</h2>
  </article>
  <article>
    <div class="rounded-full p-2 ring-1 ring-black h-12 w-12 text-3xl mb-2 text-center">3</div>
    <h2>Envoyer nous un message</h2>
  </article>
</section>
