---
import Section from "@/layouts/Section.astro";
import Gradients from "./Gradients.astro";
import SkyArticle from "./SkyArticle.astro";
import SkyFigure from "./SkyFigure.astro";
import SkyTestimony from "./SkyTestimony.astro";

interface Props {}

const {} = Astro.props;
---

<Section
  extension="none"
  className="relative vertical md:horizontal flex-wrap center py-32 bg-pur-500 overflow-x-hidden gap-20"
  size="full">
  <Gradients />
  <div class="w-full horizontal items-center justify-evenly">
    <SkyArticle />
    <SkyFigure />
  </div>
  <SkyTestimony />
</Section>
