---
import { Send, ThumbsUp, X } from "lucide-react";
import Button from "@/components/shared/Button.astro";

interface Props {
    key: string | number;
    id: string | number;
    className?: string;
}

const { id, key, className } = Astro.props;
---

<style>
    .hp {
        @apply hidden;
    }

    [data-loading="success"] ~ div {
        @apply flex;
        animation: fadeIn 0.3s ease-in forwards;
    }

    [data-loading="success"] {
        @apply ring-green-500;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
</style>

<form class={`h-full ${className}`} data-form={`form#${key}`} class="relative">
    <input type="hidden" name="product_id" value={id} />
    <label class="hp" for="hp">Hi honey !<input type="text" id="hp" name="hp" /></label>
    <section class="vertical items-start justify-center gap-14 p-20">
        <slot />
        <div class="horizontal gap-5 center w-full">
            <div class={`relative vertical center`}>
                <Button
                    data-loading="idle"
                    data-for={"form"}
                    type="submit"
                    size="md"
                    variant="filled"
                    rightIcon
                    ring="sm">
                    Valider
                    <Send className="stroke-1 h-5 w-5 translate-y-[3px]" slot="icon" />
                </Button>
                <div
                    class={`absolute -bottom-6 left-0 hidden text-sm whitespace-nowrap center gap-2 font-medium transition-transform translate-y-5`}>
                    <ThumbsUp className="stroke-1 h-5 w-5" />
                    Votre message a bien été envoyé
                </div>
            </div>
            <Button data-action={`close#${key}`} type={"button"} size="md" variant="danger" rightIcon>
                Fermer
                <X className="stroke-1 h-5 w-5 translate-y-[3px]" slot="icon" />
            </Button>
        </div>
    </section>
</form>
