---
import { cn } from "@/lib/utils";
import type { HTMLTag } from "astro/types";
import Nav from "./Nav.astro";
import Section from "../Section.astro";
import Socials from "./Socials.astro";
interface Props {
  className?: string;
  as: HTMLTag;
}

const { as, className } = Astro.props as Props;
---

<Section
  as={as}
  size="small"
  extension="none"
  className={cn(
    "vertical items-end justify-center [&_a:hover]:underline [&>*]:px-10 backdrop-blur-sm bg-darkMode-500 text-white border-b border-b-stone-400",
    className
  )}
  data-is={`global-${as}`}
  transition:animate={"none"}>
  <section class="full horizontal items-center justify-between">
    <h1 class="text-2xl">
      <span class="font-bold mr-3">LOGO</span>
      <a href="/"> A l'abordarbre</a>
    </h1>
    <Nav className="text-white font-semibold space-x-16" />

    {
      as === "footer" && (
        <article class=" font-bold">
          <Socials />
        </article>
      )
    }
  </section>
  {
    // as === "footer" ? (
    // <a class="uppercase text-[0.8rem] mt-2 block text-right" href="https://github.com/razmi0">dev by razmio</a>
    // ) : <></>
  }
</Section>
