---
import Logo from "@/assets/logo/logo-1.png";
import Nav from "@/layouts/Nav.astro";
import Section from "@/layouts/Section.astro";
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
interface Props {
  className?: string;
}

const {className } = Astro.props as Props;
---

<Section
  as={"header"}
  size="small"
  extension="none"
  className={cn(
    "absolute top-0 z-50 vertical items-end justify-center [&_a:hover]:underline [&>*]:px-10 backdrop-blur-sm bg-darkMode-500 text-white border-b border-b-stone-400",
    className
  )}
  transition:animate={"none"}>
  <section class="full horizontal items-center justify-between">
      <Image src={Logo} alt="logo de alabordarbre" width="70" height="70" />
      <h1 class="text-2xl h-fit block ml-2">
        <a href="/">A l'abordarbre</a>
      </h1>
      <div class={`grow`}></div>
    <Nav className="text-white font-semibold" />
  </section>

</Section>
