---
import Nav from "./Nav.astro";
import Section from "./Section.astro";
import Socials from "./Socials.astro";

const currentPage = Astro.url.pathname;
const { as = currentPage === "/" ? "footer" : "header" } = Astro.props;

const viewTransitionType = currentPage === "/" ? "slide" : "fade";
---

<Section
  as={as}
  size="quarter"
  extension="none"
  className="vertical items-end justify-center [&_a:hover]:underline [&>*]:px-10"
  data-is={`global-${as}`}
  transition:animate={viewTransitionType}>
  <section class="full horizontal items-center justify-between">
    <h1 class="text-2xl">
      <a href="/"> A l'abordarbre</a>
    </h1>
    <Nav className="text-black/80 font-semibold space-x-16" />

    {
      as === "footer" ? (
        <article class="text-black/50 font-bold">
          <Socials />
        </article>
      ) : (
        <span class="font-bold text-2xl">LOGO</span>
      )
    }
  </section>
  {
    // as === "footer" ? (
    // <a class="uppercase text-[0.8rem] mt-2 block text-right" href="https://github.com/razmi0">dev by razmio</a>
    // ) : <></>
  }
</Section>
