---
import Loader from "@/components/Loader.astro";
import TopPageButton from "@/components/TopPageButton";
import "@/styles/globals.css";
import { AstroFont } from "astro-font";
import { SEO } from "astro-seo";

interface Props {
    title: string;
    className?: string;
    description: string;
}

const { title, className, description } = Astro.props;

const allowIndexing = Astro.url.pathname !== "/maintenance" && Astro.url.pathname !== "/honey";
---

<html lang="en" class={className}>
    <head>
        <SEO
            noindex={!allowIndexing}
            canonical={"https://alabordarbre.fr"}
            charset="UTF-8"
            title={`${title.charAt(0).toUpperCase() + title.slice(1)} - Alabordarbre`}
            description={description}
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <AstroFont
            config={[
                {
                    name: "Grandstander",
                    src: [
                        {
                            style: "normal",
                            weight: "600",
                            path: "./public/fonts/Grandstander.ttf",
                        },
                    ],
                    preload: true,
                    display: "swap",
                    selector: "h1, h2, .grandstander",
                    fallback: "sans-serif",
                },
                {
                    name: "IMFellDWPica",
                    src: [
                        {
                            weight: "normal",
                            style: "normal",
                            path: "./public/fonts/IMFellDWPica.ttf",
                        },
                    ],
                    preload: true,
                    display: "swap",
                    selector: "h3, h4, h5, h6, .im-fell-dw-pica-regular",
                    fallback: "sans-serif",
                },
                {
                    name: "QuattrocentoSans-Regular",
                    src: [
                        {
                            weight: "normal",
                            style: "normal",
                            path: "./public/fonts/QuattrocentoSans-Regular.ttf",
                        },
                    ],
                    preload: true,
                    display: "swap",
                    selector: "body, .quattrocento-sans-regular",
                    fallback: "sans-serif",
                },
                {
                    name: "QuattrocentoSans-Bold",
                    src: [
                        {
                            weight: "bold",
                            style: "normal",
                            path: "./public/fonts/QuattrocentoSans-Bold.ttf",
                        },
                    ],
                    preload: true,
                    display: "swap",
                    selector: ".quattrocento-sans-bold",
                    fallback: "sans-serif",
                },
            ]}
        />
    </head>
    <body class={`relative`}>
        <Loader />
        <slot name="header" />
        <main>
            <slot />
        </main>
        <slot name="footer" />
        <TopPageButton client:idle />
    </body>
</html>
