---
import Hero from "@/assets/hero/hero.png";
import Button from "@/components/Button.astro";
import { Image } from "astro:assets";
import Section from "./Section.astro";
import "@/styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <style>
      [data-is="hero"] {
        --primary: #0b0e16;
        --color-start: rgba(11, 14, 22, 0);
        --fade-to-b: linear-gradient(to bottom, var(--color-start) 0%, var(--color-start) 80%, #0b0e16 100%);
        --fade-to-t: linear-gradient(to top, var(--color-start) 0%, var(--color-start) 80%, #0b0e16 100%);
        --fade-to-l: linear-gradient(to left, var(--color-start) 0%, var(--color-start) 80%, #0b0e16 100%);
        --fade-to-r: linear-gradient(to right, var(--color-start) 0%, var(--color-start) 80%, rgb(11, 14, 22) 100%);
      }

      .fade-out-top {
        background: var(--fade-to-t);
      }

      .fade-out-bottom {
        background: var(--fade-to-b);
      }

      .fade-out-right {
        background: var(--fade-to-r);
      }

      .fade-out-left {
        background: var(--fade-to-l);
      }
    </style>
    <Section className="relative text-white" data-is="hero">
      <Image src={Hero} class="absolute full max-w-screen object-cover z-[0] brightness-110 contrast-125" alt="hero" />
      <!-- OVERLAY -->
      <div class="relative h-screen fade-out-bottom z-[10]"></div>
      <!-- OVERLAY -->
      <!-- <div class="absolute full max-w-screen bottom-0 fade-out-bottom h-52" data-debug="fade-out-hero"></div> -->
      <header class="absolute-align z-10 w-full px-52 py-2 h-1/4 pointer-events-auto">
        <nav class="full [&>ul]:full">
          <ul class="horizontal center gap-12 font-bold [&>li>a:hover]:underline text-lg">
            <li>
              <a href="/">
                <h1 class="text-2xl">A l'abordarbre</h1>
              </a>
            </li>
            <div class="grow"></div>
            <li>
              <a href="/contact">Tarifs</a>
            </li>
            <li>
              <a href="/nous">Nous</a>
            </li>
            <li>
              <a href=`/contact`>
                <Button size="md" ring="md" variant="outline" data-is="hero-button">Contact</Button>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <slot name="hero" />
    </Section>
    <slot />
  </body>
</html>
