---
import Button from "@/components/Button.astro";
// import Hero from "@/components/ImageSwitch/screen/screen-img-1.png";
import "@/styles/globals.css";
// import { Image } from "astro:assets";
import ImageSwitch from "@/components/ImageSwitch/ImageSwitch.astro";
import Section from "./Section.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <style>
      [data-is="hero"] {
        --primary: #0b0e16;
        --color-start: rgba(11, 14, 22, 0);
        --fade-to-b: linear-gradient(to bottom, var(--color-start) 0%, var(--color-start) 80%, #0b0e16 100%);
      }

      .fade-out-bottom {
        background: var(--fade-to-b);
      }
    </style>
    <Section className="relative text-white" data-is="hero">
      <!-- <Image src={Hero} class="absolute full max-w-screen object-cover z-[0] brightness-110 contrast-125" alt="hero" /> -->
      <ImageSwitch
        uniqueKey="hero"
        alt="hero"
        className="absolute full max-w-screen object-cover z-[0] brightness-110 contrast-125"
      />
      <!-- OVERLAY -->
      <div class="relative h-screen fade-out-bottom z-[10]"></div>
      <!-- OVERLAY -->
      <!-- <div class="absolute full max-w-screen bottom-0 fade-out-bottom h-52" data-debug="fade-out-hero"></div> -->
      <header class="absolute-align z-10 w-full px-52 py-2 h-1/4 pointer-events-auto">
        <nav class="full [&>ul]:full">
          <ul class="horizontal center gap-12 font-bold [&>li>a:hover]:underline text-lg">
            <li>
              <a href="/">
                <h1 class="text-2xl">A l'abordarbre</h1>
              </a>
            </li>
            <div class="grow"></div>
            <li>
              <a href="/contact">Tarifs</a>
            </li>
            <li>
              <a href="/nous">Nous</a>
            </li>
            <li>
              <a href=`/contact`>
                <Button size="md" ring="md" variant="outline" data-is="hero-button">Contact</Button>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <slot name="hero" />
    </Section>
    <slot />

    <footer class="h-[20vh]">
      <div class="full horizontal items-center justify-around">
        <h1 class="text-2xl">A l'abordarbre</h1>
        <nav class="text-black/80 font-semibold">
          <ul class="space-x-5 [&>a:hover]:underline">
            <a href="/contact">contact</a>
            <a href="/nous">nous</a>
            <a href="/tarifs">tarifs</a>
            <a href="/tarifs">activités</a>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
