---
import CTA from "@/components/CTA.astro";
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className } = Astro.props;

const isActivePath = (path: string) => Astro.url.pathname === path;

const coreCTA = { name: "Tarifs", href: "/tarifs", isActive: isActivePath("/tarifs") };

const websiteLinks = [
  { name: "Accueil", href: "/", isActive: isActivePath("/") },
  { name: "Nous", href: "/nous", isActive: isActivePath("/nous") },
  { name: "FAQs", href: "/FAQ", isActive: isActivePath("/FAQ") },
  { name: "Contact", href: "/contact", isActive: isActivePath("/contact") },
];
---

<nav class={cn("text-black/95 dark:text-white/95", className)}>
  {
    websiteLinks.map(({ name, href, isActive }) => (
      <a href={href} class={cn(isActive ? "text-pur-500" : "")}>
        {name}
      </a>
    ))
  }
  <CTA href={coreCTA.href}>
    <button
      class={`px-10 py-3 rounded-lg bg-pur-500 hover:brightness-110 hover:text-white/80 text-white ring-1 ring-stone-400 transition-all`}>
      {coreCTA.name}
    </button>
  </CTA>
</nav>
