---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className } = Astro.props;

const websiteLinks = [
  { name: "accueil", href: "/" },
  { name: "tarifs", href: "/tarifs" },
  { name: "nous", href: "/nous" },
  { name: "contact", href: "/contact" },
  { name: "FAQ", href: "/FAQ" },
];
---

<nav class={cn("", className)}>
  {websiteLinks.map(({ name, href }) => <a href={href}>{name}</a>)}
</nav>
