---
import CTA from "../shared/CTA.astro";
import type { WebsiteLink } from "./types";

interface Props {
  websiteLinks: WebsiteLink[];
}

const { websiteLinks } = Astro.props;
---

<ul class="hidden lg:inline space-x-16 [&>li]:inline [&>li]:font-bold [&>li]:text-[1rem]">
  {
    websiteLinks.map(({ name, href, isActive, cta }) => {
      return cta ? (
        <li>
          <CTA href={href}>
            <button
              class={`px-10 py-3 rounded-lg bg-pur-500 hover:brightness-110 hover:text-white/80 text-white transition-all`}>
              {name}
            </button>
          </CTA>
        </li>
      ) : (
        <li>
          <a href={href} class={isActive ? "text-pur-500" : "text-black/90"}>
            {name}
          </a>
        </li>
      );
    })
  }
</ul>
