---
import Logo from "@/components/Nav/Logo.astro";
import Nav from "@/components/Nav/Nav.astro";
import { cn } from "@/lib/utils";
interface Props {
  className?: string;
}

const { className } = Astro.props as Props;
const styles = cn(
  "py-3 w-full absolute top-0 z-50 horizontal items-end justify-center [&_a:hover]:underline px-2 sm:px-5 bg-pur-500 text-white",
  className
);
---

<header class={styles} transition:animate={"none"}>
  <a href="/" class={`horizontal items-center justify-between underline`}
    ><Logo />
    <h1 class="text-2xl ml-2">A l'abordarbre</h1></a
  >
  <div class={`grow`}></div>
  <Nav />
</header>
